@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script>
        $(document).ready(function() {
            $('.greeting').click(function () {
                
		    });
        });
    </script>
</head>

<body>
    <h1 class="greeting">Hello</h1>
    <p class="text">This worked</p>
</body>